header {
	margin: 0;
}

.background {
	background: linear-gradient(145deg, rgb(13, 71, 161), rgb(25, 118, 210));
	box-sizing: border-box;
	color: white;
	height: 80vh;
	margin: 0;
	max-height: 560px;
	min-height: 480px;
	overflow: hidden;
	padding: 48px 48px 32px;
	position: absolute;
	transform: skewY(8deg);
	transform-origin: 100%;
	width: 100%;
}

section#intro {
	align-items: center;
	display: flex;
	height: 480px;
	margin: 0 auto -32px;
	padding: 48px 0 0;
	position: relative;
	width: 900px;
}

section#intro .hero-logo {
	background-image: url('../../../assets/images/angular.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	flex: 1;
	height: 400px;
	margin-bottom: 8px;
}

section#intro .container {
	flex: 1;
	margin: -7% auto 0;
	padding-bottom: 0;
	padding-top: 0;
}

section#intro .container > p {
	color: white;
	font-size: 4rem;
	font-weight: 500;
	margin: 32px 0;
}

section#intro .container > a {
	background-color: #444;
	border: none;
	border-radius: 48px;
	box-shadow: 0 2px 5px #00000042;
	box-sizing: border-box;
	color: #7fc9ff;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 4rem;
	margin-bottom: 4px;
	overflow: hidden;
	padding: 8px 34px;
	text-decoration: none;
}

section#intro .container > a:hover {
	text-decoration: underline;
}

article {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 3rem;
}

article .rows {
	border-bottom: 1px solid #6E6E6E;
}

article .rows.hiddenDivider {
	border-bottom: 0
}

.describe {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 32px auto;
	max-width: 920px;
}

.describe.rowReverse {
	flex-direction: row-reverse;
}

.describe .image {
	height: auto;
	margin: auto;
	max-width: 90% !important;
}

.textContainer {
	max-width: 40%;
	padding-right: 5%;
}

.describe .title {
	color: #7fc9ff;
	font-size: 2rem;
	font-weight: 500;
	margin-top: 10px;
}

.describe p, .label {
	color: white;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 3.2rem;
	margin: 1rem 0;
	margin-block-end: 1em;
	margin-block-start: 1em;
	margin-inline-end: 0;
	margin-inline-start: 0;
}

.card {
	align-items: center;
	background-color: #444;
	border-radius: 4px;
	box-sizing: border-box;
	color: #7fc9ff;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 24px;
	text-decoration: none;
	width: 51%;
}

.card:hover {
	text-decoration: underline;
}

.card .image {
	margin: 16px;
	max-width: 100% !important;
}

.card .labelContainer {
	margin: 0 16px;
}

.card p {
	margin: 0;
	padding: 8px 0;
}
