:host {
	background-color: #333;
	display: block;
	font-size: 1.2rem;
	line-height: 1.2rem;
	width: 100vw;
}

.container {
	justify-content: space-between;
	margin: 0 auto;
}

.container, ul {
	align-items: center;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

ul, li, a {
	margin: 0;
	padding: 0;
}

a {
	align-items: center;
	color: #b0b0b0;
	display: flex;
	text-decoration: none;
}

span {
	margin: 14px 0;
	padding: 0 8px;
}

li:not(:last-child) > a > span {
	border-right: 1px solid #757575;
}

ul:last-child > li:nth-last-child(2) > a > span {
	border-right: 0;
	margin-right: 16px;
}

ul:last-child > li:last-child {
	background-color: #757575;
}

a:hover {
	color: white;
}

ul:last-child > li:last-child > a:hover {
	background-color: white;
	color: #ff6700;
}

span.shopping {
	padding: 0 20px;
}

/*********************暗黑适配*********************/
@media (prefers-color-scheme: dark) {
	:host {
		background-color: #666;
	}
}

@media (prefers-color-scheme: light) {
	:host {
		background-color: #333;
	}
}
