.container {
  align-items: flex-start;
  background-color: white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  display: flex;
  height: 360px;

  justify-content: space-between;
  margin: 50px 110px;
  padding: 55px 90px 70px 90px;
}

.titleButton {
  background-color: white;
  border-width: 0;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
}

app-search {
  align-self: flex-end;
  flex-grow: 0.4;
  height: 120px;
}

.sliderButton {
  background-color: white;
  border-width: 0;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}

