/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ededed;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
}

button:hover {
  cursor: pointer;
}
