/* You can add global styles to this file, and also import other style files */

html {
	font-size: 62.5%
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: 1.6rem;
}

a {
	cursor: pointer;
}

.fixedWidthContainer {
	width: 1226px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
	}
}
