:host {
	align-items: center;
	background-color: white;
	border-top: 1px solid #b0b0b0;
	display: flex;
	width: 100vw;
}

ul {
	align-items: center;
	display: grid;
	font-size: 1.2rem;
	grid-gap: 0;
	grid-template-columns: repeat(6, 1fr);
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

li {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img {
	border-right: 1px solid #b0b0b0;
	height: 110px;
	margin: 30px auto 16px;
	width: 160px;
}

li:last-child > img {
	border-right: none;
}

p {
	line-height: 20px;
	margin: 0;
}

p.title {
	color: #333;
}

p.price {
	color: #ff6700;
	margin-bottom: 25px;
}
