:host {
	display: block;
	height: 360px;
	margin: 50px 100px 0 100px;
}

.container {
	align-items: flex-start;
	background-color: white;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	justify-content: space-between;
	padding: 55px 90px 70px 90px;
	width: 100%;
}

button {
	background-color: white;
	border-width: 0;
	color: black;
	font-weight: bold;
}

button.title {
	font-size: 1.6rem;
}

button.slider {
	font-size: 1.4rem;
}

app-search-engine {
	align-self: flex-end;
	flex-grow: 0.3;
}
