.container {
  column-gap: 50px;
  display: grid;
  grid-template-areas: 'engines .'
                        'input searchButton';
  grid-template-columns: 1fr 130px;
  grid-template-rows: 1fr 50px;
  height: 100%;
  row-gap: 8px;
  width: 100%;
}

ul {
  border: 0 solid #ddd;
  border-bottom-width: thin;
  display: flex;
  grid-area: engines;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.engineButton {
  background-color: white;
  border: 0 solid black;
  color: #999;
  font-family: inherit;
  font-size: 0.9rem;
  height: 100%;
  text-align: center;
}

.engineButton:hover {
  border-bottom-width: 2px;
  color: #666;
  cursor: pointer;
}

.engineButton.isSelected {
  border-bottom-width: 2px;
  color: #666;
}

input {
  background-color: #ededed;
  border: 0;
  font-size: 1rem;
  grid-area: input;
  outline: none;
  padding: 0 10px;
}

.searchButton {
  background-color: #444;
  border-width: 0;
  color: white;
  font-size: 1rem;
  grid-area: searchButton;
}

.searchButton:hover {
  background-color: black;
}
