<div #containerBox>
	<div class='container fixedWidthContainer'>
		<!--logo-->
		<a>
			<img alt='logo' class='logo' src='assets/images/logo-mi2.png'>
		</a>
		<!--推荐产品列表-->
		<ul>
			<li
				(mouseleave)='productOnMouseleave()'
				(mouseover)='productOnMouseover(product.list)'
				*ngFor='let product of products'
			>
				{{product.type}}
			</li>
			<li (mouseover)='productOnMouseover([])'>服务</li>
			<li (mouseover)='productOnMouseover([])'>社区</li>
		</ul>
		<!--搜索框-->
		<div
			(mouseleave)='searchBoxOnMouseLeave()'
			(mouseover)='searchBoxOnMouseover()'
			class='searchBox'
		>
			<input
				#searchBox
				(blur)='searchInputOnBlur()'
				(focus)='searchInputOnFocus()'
				[attr.placeholder]='searchPlaceholder'
				[formControl]='searchContent'
				[matAutocomplete]='searchAuto'
				[style.border-color]='searchBorderColor'
				type='text'
			>
			<button
				(click)='startSearch()'
				[style.border-color]='searchBorderColor'
				class='search'
				type='button'
			>
				<mat-icon>search</mat-icon>
			</button>
		</div>
	</div>
</div>

<!--搜索框自动完成内容-->
<mat-autocomplete #searchAuto='matAutocomplete' (optionSelected)='autocompleteOptionSelected()'>
	<mat-option *ngFor='let search of hotSearch' [value]='search'>
		{{search}}
	</mat-option>
</mat-autocomplete>
