<div class='container fixedWidthContainer'>
	<!--logo-->
	<a>
		<img alt='logo' class='logo' src='assets/images/logo-mi2.png'>
	</a>

	<!--搜索框-->
	<div (mouseleave)='searchBoxOnMouseLeave()' (mouseover)='searchBoxOnMouseover()' class='searchBox'>
		<input
			(blur)='searchInputUnFocus()' (focus)='searchInputOnFocus()' [attr.placeholder]='searchPlaceholder'
			[style.border-color]='searchBorderColor'
			type='search'
		>
		<button [style.border-color]='searchBorderColor' class='search' type='submit'>搜索</button>
	</div>
</div>
